@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-primary font-montserrat text-white;
}

.pretitle {
  @apply font-ptSerif text-[42px] text-accent leading-none;
}

.h2 {
  @apply text-[32px] xl:text-[38px] font-semibold leading-tight;
}

.btn {
  @apply w-full rounded-full cursor-pointer transition-all flex justify-center items-center font-medium;
}

.btn-sm {
  @apply w-[146px] h-[50px];
}

.btn-lg {
  @apply w-[160px] h-[54px];
}

.btn-accent {
  @apply bg-accent text-white hover:bg-accent-hover;
}

.btn-white {
  @apply bg-white text-primary hover:bg-white/80;
}

.section {
  @apply py-12 xl:py-24;
}

.logo-color {
  fill: #bcb4b4;
}

.logo-white {
  color: #fff;
}

/* main player */
.rap-progress {
  @apply !bg-accent;
}

.rap-pin {
  @apply !bg-white;
}

.rap-container .rap-slider .rap-progress .rap-pin {
  @apply !w-[14px] !h-[14px] !bg-white;
}

.rap-container .rap-slider .rap-progress .rap-pin .pin:hover {
  @apply scale-[1.2] transition-all duration-300;
}

.rap-container {
  @apply !p-0 !max-w-[100%];
}

.rap-container .rap-pp-button svg {
  @apply w-[14px];
}

.rap-container .rap-volume .rap-volume-btn svg {
  @apply w-[22px];
}

.rap-container .rap-pp-button svg path,
.rap-container .rap-volume .rap-volume-btn svg path {
  @apply fill-accent;
}

.rap-current-time,
.rap-total-time {
  @apply font-montserrat text-[13px] font-medium;
}

.rap-container .rap-slider {
  @apply !bg-white/20 !h-[2px];
}

.rap-container .rap-controls span {
  @apply !text-[15px];
}

.rap-volume-btn .rap-volume-open svg path {
  @apply fill-white;
}

.rap-volume-controls {
  @apply !bg-primary/80;
}

.active {
  @apply border-b-2 border-accent;
}

/* album slider */
.album-slider .rap-container .rap-volume .rap-volume-controls {
  @apply !bg-primary/80;
}

.album-slider .rap-container .rap-slider {
  @apply !bg-primary/40;
}

.album-slider .rap-container .rap-slider .rap-progress {
  @apply !bg-white;
}

.album-slider .rap-container .rap-pp-button svg {
  @apply w-[12px];
}

.album-slider .rap-container .rap-volume .rap-volume-btn svg {
  @apply w-[20px];
}

.album-slider .rap-container .rap-pp-button svg path,
.album-slider .rap-container .rap-volume .rap-volume-btn svg path {
  @apply fill-accent;
}

.album-slider .rap-container .rap-controls span {
  @apply !text-sm;
}

.album-player {
  @apply !w-[100px] !min-w-0 text-center;
}

.album-player .rap-controls .rap-slider,
.album-player .rap-controls .rap-total-time {
  @apply hidden;
}

/* thumb slider */
.thumb-slider .swiper-slide-thumb-active {
  @apply border-2 border-accent overflow-hidden transition-all duration-700;
}

/* preloader */

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.center-container {
  text-align: center;
}

.scrollable-box {
  overflow-y: scroll;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}

/* intro video modal */

.backdrop {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #000000a4;
  filter: blur(4px);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

.modal {
  @apply bg-secondary/5;
  width: clamp(70vw, 80vw, 90vw);
  height: min(70vh, 80vh);

  margin: auto;
  padding: 0 2rem;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}
